@font-face {
   font-family: Circular;
   font-weight: normal;
   src: url('/assets/fonts/Circular-Book.ttf');
} 

@font-face {
   font-family: Circular;
   font-weight: 500;
   src: url('/assets/fonts/Circular-Medium.ttf');
} 

@font-face {
   font-family: Fakt Pro;
   font-weight: bold;
   src: url('/assets/fonts/Circular-Bold.ttf');
} 